<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.thoughtworks.android.tests" android:versionName="1.0" android:versionCode="1">
    <application android:icon="@drawable/icon" android:label="Test Birthday Calendar" android:debuggable="true">
        <uses-library android:name="android.test.runner" />
    </application>
    <instrumentation android:targetPackage="com.thoughtworks.android" android:name="android.test.InstrumentationTestRunner"/>
</manifest>
